<div class="page__title">
        <div class="page__title--text">
          <h3>Sản phẩm</h3>
          <ul class="page__title--text--item">
            <li><a href="">Trang chủ</a></li>
            <div class="separated"></div>
            <li>Nam</li>
          </ul>
        </div>
</div>
      <div class="app__container">
        <div class="grid wide">
          <div class="row app__content">
            <div class="col l-2 m-0 c-0">
              <nav class="category">
                <h3 class="category__heading">
                  <i class="category__heading-icon fa-solid fa-list"></i>
                  Danh mục
                </h3>
                <ul class="category-list">
                  <li class="category-item category-item--active">
                    <a href="" class="category-item__link">Sản phẩm</a>
                  </li>
                  <li class="category-item">
                    <a href="" class="category-item__link">Quần áo - Nữ</a>
                  </li>
                  <li class="category-item">
                    <a href="" class="category-item__link">Quần áo - Trẻ em</a>
                  </li>
                  <li class="category-item">
                    <a href="" class="category-item__link">Phụ kiện</a>
                  </li>
                  <li class="category-item">
                    <a href="" class="category-item__link">Hot Deals</a>
                  </li>
                  <li class="category-item">
                    <a href="" class="category-item__link">Giảm giá</a>
                  </li>
                  <li class="category-item">
                    <a href="" class="category-item__link">Hàng mới về</a>
                  </li>
                  <li class="category-item">
                    <a href="" class="category-item__link">Football</a>
                  </li>
                  <li class="category-item">
                    <a href="" class="category-item__link">Training</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col l-10 m-12 c-12">
              <div class="home-filter">
                <span class="home-filter__label">Sắp xếp theo</span>
                <button class="btn home-filter_btn">Phổ biến</button>
                <button class="btn btn--primary home-filter_btn">
                  Mới nhất
                </button>
                <button class="btn home-filter_btn">Bán chạy</button>
                <!-- List option -->
                <div class="select-price">
                  <span class="select-price__label">Giá</span>
                  <i class="select-price__icon fa-solid fa-angle-down"></i>
                  <ul class="select-price__list">
                    <li class="select-price__item">
                      <a href="" class="select-price__link"
                        >Giá: Thấp đến cao</a
                      >
                    </li>
                    <li class="select-price__item">
                      <a href="" class="select-price__link"
                        >Giá: Cao đến thấp</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="home-filter__page hide-on-mobile-tablet">
                  <span class="home-filter__page-num">
                    <span class="home-filter__page-current">1</span>/14
                  </span>
                  <div class="home-filter__page-control">
                    <a
                      href=""
                      class="home-filter__page-btn home-filter__page-btn--disabled"
                    >
                      <i
                        class="home-filter__page-icon fa-solid fa-angle-left"
                      ></i>
                    </a>
                    <a href="" class="home-filter__page-btn">
                      <i
                        class="home-filter__page-icon fa-solid fa-angle-right"
                      ></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="home-product">
                <!-- Grid => row => column -->
                <div class="row product__list">
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row product__list">
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row product__list">
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row product__list">
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col l-3 m-6 c-6 product__list--item">
                    <a href="">
                      <img
                        src="/img/product1.jpg"
                        alt=""
                        class="product__list--img"
                      />
                    </a>
                    <div class="product__text">
                      <a href="">Jacket đen thanh lịch</a>
                      <span>2,050,000</span>
                    </div>
                    <div class="product__list--details">
                      <img
                        class="product__list--img"
                        src="/img/product2.jpg"
                        alt=""
                      />
                      <div class="button">
                        <div class="button__search">
                          <a class="button__item">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <div>
                            <div class="button__search--text">
                              <span>Chi tiết</span>
                            </div>
                          </div>
                        </div>
                        <div class="button__view">
                          <a class="button__item">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                          <div>
                            <div class="button__view--text">
                              <span>Xem nhanh</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <ul class="pagination home-product__pagination">
                <li class="pagination-item">
                  <a href="" class="pagination-item__link">
                    <i
                      class="pagination-item__link-icon fa-solid fa-angle-left"
                    ></i>
                  </a>
                </li>
                <li class="pagination-item pagination-item__link--active">
                  <a href="" class="pagination-item__link">1</a>
                </li>
                <li class="pagination-item">
                  <a href="" class="pagination-item__link">2</a>
                </li>
                <li class="pagination-item">
                  <a href="" class="pagination-item__link">3</a>
                </li>
                <li class="pagination-item">
                  <a href="" class="pagination-item__link">4</a>
                </li>
                <li class="pagination-item">
                  <a href="" class="pagination-item__link">5</a>
                </li>
                <li class="pagination-item">
                  <a href="" class="pagination-item__link">...</a>
                </li>
                <li class="pagination-item">
                  <a href="" class="pagination-item__link">14</a>
                </li>
                <li class="pagination-item">
                  <a href="" class="pagination-item__link">
                    <i
                      class="pagination-item__link-icon fa-solid fa-angle-right"
                    ></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>