<link rel="stylesheet" href="/css/productDetail.css">
<div class="super_container" id="super_container">
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>SẢN PHẨM <b>LIÊN QUAN</b></h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
			</ol>   
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="carousel-item active" >
					<div class="row" id="relatedProduct1">

					</div>
				</div>

				<div class="carousel-item">
					<div class="row">
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<a href="">
                                        <img src="/examples/images/products/ipad.jpg" class="img-fluid" alt="">
                                    </a>
								</div>
								<div class="thumb-content">
									<a href=""><h4>Apple iPad</h4></a>
									<p class="item-price"><span>$369.00</span></p>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<a href="#" class="btn btn-primary mt-2">Thêm vào giỏ hàng</a>
								</div>						
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<!-- Carousel controls -->
			<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="carousel-control-next" href="#myCarousel" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
		</div>
	</div>
</div>  
<script src="/js/product_detail.js"></script>
