<link rel="stylesheet" href="/css/order.css">
<div class="grid wide mt-5 app">
    <div class="row">
        <div class="col-md-3">
            <div class="left-taskboard">
                <div class="user">
                    <img src="   /img/profile.jpg" alt="">
                    <div class="user-info">
                        <span>khangjr2612</span>
                        <a href="/profile"><i class="fa-solid fa-pen"></i>Sửa hồ sơ</a>
                    </div>
                </div>
                <hr>
                <ul class="taskboard__list">
                    <li class="taskboard__list--item">
                        <a href="/profile"><i class="fa-solid fa-user text-primary"></i>Tài khoản của tôi</a>
                    </li>
                    <li class="taskboard__list--item">
                        <a href="" class="text-danger"><i class="fa-solid fa-receipt text-primary"></i>Đơn mua</a>
                    </li>
                    <li class="taskboard__list--item">
                        <a href=""><i class="fa-solid fa-bell text-danger"></i>Thông báo</a>
                    </li>
                    <li class="taskboard__list--item">
                        <a href=""><i class="fa-solid fa-heart text-danger"></i>Kho voucher</a>
                    </li>
                </ul>   
            </div>
        </div>
        <div class="col-md-9" id="myOrder">
        </div>
    </div>
</div>
<script src="/js/myOrder.js"></script>
