<div class="grid wide footer__content mt-5">
  <hr>
    <div class="row justify-content-center" >
      <div class="col l-3 m-4 c-6">
        <h3 class="footer__heading">CHĂM SÓC KHÁCH HÀNG</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item__link">Trung Tâm Trợ Giúp</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Hướng Dẫn Bán Hàng</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Thanh Toán</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Vận Chuyển</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Hướng Dẫn Mua Hàng </a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Trả Hàng & Hoàn Tiền</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Chăm Sóc Khách Hàng</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Chính Sách Bảo Hành</a>
          </li>
        </ul>
      </div>
      <div class="col l-3 m-4 c-6">
        <h3 class="footer__heading">GIỚI THIỆU</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item__link">Giới Thiệu Về TK Shop</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Tuyển Dụng</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Điều khoản</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Chính Sách Bảo Mật</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Flash Sales</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link"
              >Liên Hệ Với Truyền Thông</a
            >
          </li>
        </ul>
      </div>
      <div class="col l-3 m-4 c-6">
        <div class="footer-payment">
          <h3 class="footer__label">THANH TOÁN</h3>
          <div class="footer-payment__list-item">
            <img
              src="/img/payment/Visa-Logo.png"
              alt=""
              class="footer-payment__list-img"
            />
            <img
              src="/img/payment/master-card-logo.png"
              alt=""
              class="footer-payment__list-img"
            />
            <img
              src="/img/payment/JCB_logo.png"
              alt=""
              class="footer-payment__list-img"
            />
          </div>
          <div class="footer-payment__list-item">
            <img
              src="/img/payment/logo_shopeepay.png"
              alt=""
              class="footer-payment__list-img"
            />
            <img
              src="/img/payment/shipcod_logo.png"
              alt=""
              class="footer-payment__list-img"
            />
            <img
              src="/img/payment/logo_tragop.png"
              alt=""
              class="footer-payment__list-img"
            />
          </div>
        </div>
        <div class="footer-transport">
          <h3 class="footer__label">ĐƠN VỊ VẬN CHUYỂN</h3>
          <div class="footer-transport__list-item">
            <img
              src="/img/transport/logo_SPX_express.jpg"
              alt=""
              class="footer-transport__list-img"
            />
            <img
              src="/img/transport/logo-ghtk.jpg"
              alt=""
              class="footer-transport__list-img"
            />
            <img
              src="/img/transport/logo-ghn.jpg"
              alt=""
              class="footer-transport__list-img"
            />
          </div>
          <div class="footer-transport__list-item">
            <img
              src="/img/transport/logo-viettle-post.jpg"
              alt=""
              class="footer-transport__list-img"
            />
            <img
              src="/img/transport/logo-vn-post.jpg"
              alt=""
              class="footer-transport__list-img"
            />
            <img
              src="/img/transport/logo-JT-Express.jpg"
              alt=""
              class="footer-transport__list-img"
            />
          </div>
          <div class="footer-transport__list-item">
            <img
              src="/img/transport/logo-grab-express.jpg"
              alt=""
              class="footer-transport__list-img"
            />
            <img
              src="/img/transport/logo-ninja-van.jpg"
              alt=""
              class="footer-transport__list-img"
            />
            <img
              src="/img/transport/logo-best-express.jpg"
              alt=""
              class="footer-transport__list-img"
            />
          </div>
        </div>
      </div>
      <div class="col l-4 m-4 c-6">
        <h3 class="footer__heading">THEO DÕI CHÚNG TÔI TRÊN</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="footer-item__icon fa-brands fa-facebook"></i>
              Facebook</a
            >
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="footer-item__icon fa-brands fa-instagram"></i>
              Instagram</a
            >
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="footer-item__icon fa-brands fa-linkedin"></i>
              LinkedIn</a
            >
          </li>
        </ul>
      </div>
      <div class="col l-4 m-4 c-6">
        <h3 class="footer__heading">TẢI ỨNG DỤNG NGAY THÔI</h3>
        <div class="footer__download">
          <a href="" class="footer__download-link">
            <img
              src="/img/QR_Code.png"
              alt="Download QR"
              class="footer__download-qr"
            />
          </a>
          <div class="footer__download-apps">
            <a href="" class="footer__download-link">
              <img
                src="/img/app_store.png"
                alt="Google Play"
                class="footer__download-app-img"
              />
            </a>
            <a href="" class="footer__download-link">
              <img
                src="/img/google_play.png"
                alt="App Store"
                class="footer__download-app-img"
              />
            </a>
            <a href="" class="footer__download-link">
              <img
                src="/img/app_gallery.png"
                alt="App Store"
                class="footer__download-app-img"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
