<section>
        <div class="contact">
          <div class="grid wide">
            <div class="row">
              <div class="col l-6 m-12 c-12">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14899.644419181755!2d105.63734282468492!3d20.996200225156777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313450e2a0f1a5d3%3A0x707cf5a4fcdaaa2c!2zdHQuIFF14buRYyBPYWksIFF14buRYyBPYWksIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1668003097837!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
              <div class="col l-6 m-12 c-12">
                <div class="contact-content">
                  <h1>Liên hệ</h1>
                  <span>Địa chỉ: Thị Trấn Quốc Oai</span>
                  <div class="contact__send--question">
                    <h2>Gửi thắc mắc cho chúng tôi</h2>
                    <div class="row">
                      <div class="col l-6 m-6 c-6 contact__input">
                        <input type="text" placeholder="Tên của bạn" />
                      </div>
                      <div class="col l-6 m-6 c-6 contact__input">
                        <input type="text" placeholder="Địa chỉ của bạn" />
                      </div>
                      <div class="col l-6 m-6 c-6 contact__input">
                        <input
                          type="email"
                          required
                          placeholder="Email của bạn"
                        />
                      </div>
                      <div class="col l-6 m-6 c-6 contact__input">
                        <input
                          type="text"
                          placeholder="Số điện thoại của bạn"
                        />
                      </div>
                      <div class="col l-12 m-12 c-12 contact__input">
                        <input type="text" placeholder="Nội dung" />
                      </div>
                      <div class="col l-12 m-12 c-12 contact__input">
                        <button type="button" class="dark send_contact">
                          Gửi cho chúng tôi
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>